.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}
.logo img {
  width: 100px;
  margin: 10px;
}
.nav-item > ul {
  display: flex;
  padding-right: 40px;
  list-style-type: none;
}
.nav-item > ul > li {
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}
.res-cart {
  width: 220px;
  height: 400px;
  margin: 10px;
  padding: 5px;
  background-color: #f0f0f0;
}
.res-cart:hover {
  cursor: pointer;
  border: 0.2px solid black;
}
.restaurant-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.filter:hover {
  cursor: pointer;
}
.filter-btn {
  cursor: pointer;
  padding: 5px;
  border: 0.5px solid black;
}
.res-logo {
  width: 100%;
  height: 47%;
}
.shimmer-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.shimmer-card {
  width: 260px;
  height: 400px;
  margin: 5px;
  padding: 5px;
  background-color: #f0f0f0;
}
.login-btn {
  padding: 0 20px;
  cursor: pointer;
}
.filter {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.user-cart {
  padding: 10px;
  border: 1px solid blue;
}